# Environment
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
uploads/

# Node
node_modules/
frontend/dist/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
